<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Server" value="https://api-fxpractice.oanda.com"/>
    <add key ="Account" value="zhuyeaini" />
    <add key ="Token" value="e3a0d461fba87682b5860c6ac3ec5771-0aa7720107b034fe872dc80f9b9dc4ac" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>