<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Server" value="https://api-fxpractice.oanda.com"/>
    <add key ="Account" value="zhuyeaini" />
    <add key ="Token" value="1a2b3c4d5e6f7g8h9i10j11k12l" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>